header {
    display: flex;
    height: 300px;
    background-color: $bg-main-color;

    h1 {
        font-size: 40px;
        color: lighten($font-color, 25%);
        border-bottom: 2px solid darken($font-color, 10%);

        strong {
            color: red;
        }
    }

    h2 {
        font-size: 32px;
    }
}
