body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "logotype search hamburger"
        "images images images"
        "contact contact contact"
        "foot foot foot";

    @media (min-width: 1024px) {
        grid-template-columns: minmax(300px, auto) 1fr;
        grid-template-rows: auto auto auto 1fr auto auto;
        grid-template-areas:
            "logotype images"
            "hamburger images"
            "search images"
            ". images"
            "contact images"
            "foot foot";
    }

    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
}

.logo {
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-row-start: 1;
    // grid-row-end: 2;
    grid-area: logotype;
    background-color: rgb(180, 166, 166);
    height: 100px;
}

.search {
    // grid-column: 2/3;
    // grid-row: 1/2;
    grid-area: search;
    background-color: rgb(17, 84, 104);

    @media (min-width: 1024px) {
        min-height: 80px;
    }
}

.menu {
    // grid-column: -1/-2;
    // grid-row: 1/2;
    grid-area: hamburger;
    background-color: rgb(85, 82, 102);
    @media (min-width: 1024px) {
        min-height: 80px;
    }
}

.gallery {
    // grid-column: 1/-1;
    // grid-row: 2;
    grid-area: images;
    background-color: rgb(151, 149, 25);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    gap: 15px;
    padding: 150px 15px 15px;
    position: relative;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.contact {
    // grid-area: 3/1/4/-1;
    grid-area: contact;
    background-color: rgb(21, 110, 55);
}

.footer {
    grid-area: foot;
    height: 100px;
    background-color: rgb(165, 113, 97);
}
