.featured-dog {
  padding: $main-spacing;
  border: 1px solid $border-color;
  display: flex;

  &__wrapper {
    flex: 1;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      min-height: 100%;
    }
  }

  &__description {
    flex: 1;
    padding: 0 $main-spacing;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    padding: $main-spacing;
    width: 110%;
    height: 110%;
    margin: -5%;
    background-size: cover;
    filter: blur(10px);
  }
}
